/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/poppins-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.625rem 1.25rem;
  line-height: 1.5;
  border-radius: 50rem;
}

.btn:hover {
  background-color: var(--cp-red-btn-hover-state);
  transition: background-color 0.5s ease-in-out;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  background-color: black;
}

.wrapper {
  width: 89.6875rem;
  background-color: var(--cp-light-gray);
  margin: 0 auto;
}
@media (width <= 90em) {
  .wrapper {
    width: 61.25rem;
  }
}

:root {
  --cp-dark-black: hsl(0, 0%, 0%);
  --cp-light-gray: hsl(12, 21%, 9%);
  --cp-dark-red: hsl(0, 51%, 26%);
  --cp-light-white: hsl(0, 100%, 100%);
  --tc-white: hsl(0, 0%, 100%);
  --cp-hover-state-achorpoits: hsl(105, 7%, 43%);
  --cp-red-btn-hover-state: hsla(0, 62%, 55%, 0.678);
}

h1,
h2,
h3 {
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  color: white;
}

p {
  margin-top: 0;
  font-family: "Poppins";
  font-weight: 400;
  color: white;
}

a,
a:visited,
a:active {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
  margin: 0 auto;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  background-color: var(--cp-light-gray);
  padding: 0.9375rem;
  color: white;
  margin-block-end: 5.3125rem;
}
@media (width <= 90em) {
  .navbar {
    height: auto;
    margin: 0 auto;
    padding: 0.9375rem;
  }
}
.navbar .logo {
  margin: 0;
  width: 9.6875rem;
  height: auto;
}
.navbar .navlinks {
  display: inline-flex;
  gap: 2.5rem;
}
.navbar .navlinks a {
  color: var(--tc-white);
  opacity: 1;
  transition: 0.3s ease-in, opacity 0.3s ease-out, transform 0.3s ease-out;
}
.navbar .navlinks a:hover {
  color: var(--cp-hover-state-achorpoits);
  transition: color 0.3s ease-in;
}

a:active {
  opacity: 0;
}

.txtcolorchange {
  color: var(--cp-dark-red);
}

.hero-section {
  max-width: 74.1875rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 1.25rem;
  justify-content: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  padding: 2.5rem 0;
}
@media (width <= 90em) {
  .hero-section {
    max-width: 52.9375rem;
  }
}
.hero-section .hero_textarea {
  align-self: center;
}
.hero-section .hero_textarea h1 {
  font-size: 3.5625rem;
  margin-bottom: 0;
}
.hero-section .hero_textarea h2 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: auto;
  line-height: 4.375rem;
}
.hero-section .hero_textarea p {
  font-size: 1.375rem;
  color: var(--tc-white);
  max-width: 40ch;
}
.hero-section .propic img {
  border-radius: 50%;
  width: 36.375rem;
  height: 36.3125rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (width <= 90em) {
  .hero-section .propic img {
    width: 24.8125rem;
    height: 24.75rem;
  }
}

.skills-butn {
  background: var(--cp-dark-red);
  color: white;
  font-size: 1.125rem;
}

.places-worked {
  display: grid;
  height: inherit;
  grid-template-rows: 2.5rem 3.75rem;
  row-gap: 1.25rem;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1.3125rem;
  margin-block-end: 3.75rem;
}
.places-worked h2 {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}
.places-worked .work-logos {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  line-height: 1.1;
  text-align: center;
  gap: 0.9375rem;
}
.places-worked .work-logos .companies {
  border-radius: 0.375rem;
  border: 0.1875rem solid var(--cp-dark-red);
  padding: 1.25rem 1.25rem;
  margin: auto;
}

.about-me-section {
  width: 100%;
  margin-inline: auto;
  height: 69.8125rem;
  background-color: var(--cp-light-gray);
  position: relative;
}
.about-me-section .aboutme {
  display: grid;
  grid-template-columns: 581px 1fr;
  gap: 23px;
  max-width: 1181px;
  margin-inline: auto;
  padding-top: 200px;
  height: 106vh;
}
.about-me-section .aboutme__image {
  width: 580px;
  height: auto;
}
.about-me-section .aboutme__image img {
  width: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}
.about-me-section .aboutme__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.about-me-section .aboutme .buttons {
  display: flex;
  gap: 20px;
}

.aboutme__text .mainheading {
  font-size: 48px;
}/*# sourceMappingURL=style.css.map */