@use "../abstract/functions" as f;

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: f.rem(10) f.rem(20);
  line-height: 1.5;
  border-radius: 50rem;
  color: white;
  background-color: var(--cp-dark-red);
}

