@use "../abstract/functions" as f;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  max-width: f.rem(1435);
  margin: 0 auto;
  background-color: black;
}
