@use "../abstract/functions" as f;
@use "../abstract/mixins" as mix;

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  background-color: var(--cp-primary-background-white);
}

.wrapper {
  width: f.rem(1435);
  background-color: var(--cp-light-gray);
  margin: 0 auto;
  @include mix.breakpoint-down("large") {
    width: f.rem(980);
  }
}
