:root {
  --cp-dark-black: hsl(0, 0%, 0%);
  --cp-light-gray: hsl(12, 21%, 9%);
  --cp-dark-red: hsl(0, 51%, 26%);
  --cp-light-white: hsl(0, 100%, 100%);
  --tc-white: hsl(0, 0%, 100%);
  --cp-hover-state-achorpoits: hsl(105, 7%, 43%);
  --cp-red-btn-hover-state: hsla(0, 62%, 55%, 0.678);
}
