:root {
  --cp-dark-black: hsl(0, 0%, 0%);
  --cp-light-gray: hsl(12, 21%, 9%);
  --cp-dark-red: hsl(0, 51%, 26%);
  --cp-hover-state-achorpoits: #6a7566;
  --cp-red-btn-hover-state: hsla(0, 60%, 65%, 0.699);

  //Testing new color pallette variables
  --cp-primary-background-white: #D8F2E3;
  --cp-secondary-background-lblue: #C8E4EC;
  --cp-last-color-darkshade-green: #04D99D;
  --cp-lightshade-green: hsl(31, 100%, 72%);
  --cp-hover-state-color: hsl(44, 100%, 77%);
  --cp-hover-state-color2: hsl(78, 42%, 61%);

  --text-color-white:hsl(0, 0%, 100%); 
  --text-color-black: #404040;
  --text-bold-emphasis1: #260126;
  //#0E0F26
}
