@use "../abstract/functions" as f;
@use "../abstract/mixins" as m;

//containers
.about-me-section {
  width: 100%;
  margin-inline: auto;
  height: f.rem(1117);
  background-color: var(--cp-secondary-background-lblue);
  position: relative;

  // The article tag
  .aboutme {
    display: grid;
    grid-template-columns: f.rem(581) 1fr;
    gap: f.rem(23);
    max-width: f.rem(1181);
    margin-inline: auto;
    padding-top: f.rem(200);
    height: 106vh;
    @include m.breakpoint-down(large) {
      grid-template-columns: 445px 1fr;
      max-width: 875px;
    }

    &__image {
      width: f.rem(580);
      height: auto;
      @include m.breakpoint-down(large) {
        width: f.rem(444);
      }

      img {
        width: 100%;
        object-fit: contain;
        @include m.breakpoint-down(large) {
          width: 100%;
        }
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      .readmore {
        color: var(--text-bold-emphasis1);
        font-weight: 700;
        cursor: pointer;
      }
      .p2 {
        display: none;
      }
    }
    .buttons {
      display: flex;
      gap: f.rem(20);
      .aboutme_learn {
        background-color: var(--cp-lightshade-green);
        color: var(--text-color-black);
        &:hover {
          color: var(--text-color-black);
          background-color: var(--cp-hover-state-color2);
        }
      }
      .aboutme_resume {
        &:hover {
          background-color: var(--cp-hover-state-color2);
        }
      }
    }
    .overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: pointer;
    }
  }
}
//text-section
.aboutme__text {
  .mainheading {
    font-size: f.rem(48);
  }
}

//buttons
