@use "../abstract/functions" as f;

//containers
.about-me-section {
    width: 100%;
    margin-inline: auto;
    height: f.rem(1117);
    background-color: var(--cp-light-gray);
    position: relative;
    .aboutme {
        border: 2px solid green;
        position: absolute;
        top: 200px;
        left: 261px;
        right: 296px;
        width: auto;
        height: 718px;

        &__image {
            position: absolute;
        }
        &__text {
            display: grid;
            grid-template-rows: 1fr 1.5fr 1fr;
            grid-column-start: 1/ 3 ;
            position: absolute;
        }
    }
}
//text-section
.aboutme__text {
    .mainheading {
        font-size: 32px;
    }
    
}

//buttons