@use "../abstract/functions" as f;

//containers
.about-me-section {
  width: 100%;
  margin-inline: auto;
  height: f.rem(1117);
  background-color: var(--cp-light-gray);
  position: relative;

  // The article tag
  .aboutme {
    display: grid;
    grid-template-columns: 581px 1fr;
    gap: 23px;
    max-width: 1181px;
    margin-inline: auto;
    padding-top: 200px;
    height: 106vh;

    &__image {
      width: 580px;
      height: auto;

      img {
        width: 100%;
        object-fit: inherit;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      .readmore {
        color: red;
        font-weight: 700;
        cursor: pointer;
      }
      .p2 {
        display: none;
      }
    }
    .buttons {
      display: flex;
      gap: 20px;
      .aboutme_learn {
        background-color: var(--cp-light-white);
        color: black;
        &:hover {
          color: white;
          background-color: var(--cp-hover-state-achorpoits);
        }
      }
    }
  }
}
//text-section
.aboutme__text {
  .mainheading {
    font-size: 48px;
  }
}

//buttons
