@use "../abstract/mixins" as mix;

.hero-section {
  max-width: 1187px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 20px;
  justify-content: center;
  column-gap: 20px;
  padding: 40px 0;

  @include mix.breakpoint-down('large') {
    max-width: 847px;
  }

  .hero_textarea {
    align-self: center;
    h1 {
      font-size: 57px;
      margin-bottom: 0;
      span {
        color: var(--cp-dark-red);
      }
    }
    h2 {
      font-weight: 400;
      font-size: 32px;
      margin-bottom: auto;
      line-height: 70px;     
    }
    p {
      font-size: 22px;
      color: var(--tc-white);
      max-width: 40ch;
    }
  }

  .propic img {
    border-radius: 50%;
    width: 582px;
    height: 581px;
    object-fit: cover;
    @media (width < 1440px) {
    width: 397px;
    height: 396px;
  }
  }
}

.skills-butn {
  display: inline-block;
  border: 2px solid red;
  font-size: 25px;
  border-radius: 40px;
  width: 127px;
}