@use "../abstract/mixins" as mix;
@use "../abstract/functions" as f;

.hero-section {
  max-width: f.rem(1187);
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: f.rem(20);
  justify-content: center;
  column-gap: f.rem(20);
  padding: f.rem(40) 0;

  @include mix.breakpoint-down("large") {
    max-width: f.rem(847);
  }

  .hero_textarea {
    align-self: center;
    h1 {
      font-size: f.rem(57);
      margin-bottom: 0;
      span {
        color: var(--cp-dark-red);
      }
    }
    h2 {
      font-weight: 400;
      font-size: f.rem(32);
      margin-bottom: auto;
      line-height: f.rem(70);
    }
    p {
      font-size: f.rem(22);
      color: var(--tc-white);
      max-width: 40ch;
    }
  }

  .propic img {
    border-radius: 50%;
    width: f.rem(582);
    height: f.rem(581);
    object-fit: cover;
    @include mix.breakpoint-down("large") {
      width: f.rem(397);
      height: f.rem(396);
    }
  }
}

.skills-butn {
  background: var(--cp-dark-red);
  color: white;
  font-size: f.rem(18);
}
