@use "../abstract/mixins" as mix;
@use "../abstract/functions" as f;


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: f.rem(72);
  width: f.rem(1435);
  margin: 0 auto;
  border-bottom-left-radius: f.rem(20);
  border-bottom-right-radius: f.rem(20);
  background-color: var(--cp-light-gray);
  padding: f.rem(15);
  color: white;
  margin-block-end: f.rem(85);

  @include mix.breakpoint-down("large") {
    width: f.rem(980);
    height: auto;
    margin: 0 auto;
    padding: f.rem(15);
  }

  // @media (width <= 1440px) {
  //   width: 980px;
  //   height: auto;
  //   margin: 0 auto;
  //   padding: 15;
  // }

  .logo {
    margin: 0;
  }

  .navlinks {
    display: inline-flex;
    gap: 2.5rem;
    a {
      color: var(--tc-white);
    }
    a:hover {
      color: var(--cp-hover-state-achorpoits);
      transition: color 0.3s ease-in;
    }
  }
}
