@use "abstract/variables";
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 1428px;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--cp-light-gray);
  padding: 20px;
  color: white;

  .logo {
    margin:0;
  }

  .navlinks {
    display: inline-flex;
    gap: 2.5rem;
    a {
        color: var(--tc-white);
    }
    a:hover{
        color:var(--cp-hover-state-achorpoits);
        transition: color 0.3s ease-in;
    }
  }
}
