@use "../abstract/functions" as f;

.places-worked {
  display: grid;
  height: inherit;
  grid-template-rows: f.rem(40) f.rem(60);
  row-gap: f.rem(20);
  align-items: center;
  justify-content: space-evenly;
  border-radius: f.rem(21);
  margin-block-end: f.rem(60);

  h2 {
    text-align: center;
    font-weight: 400;
    font-size: f.rem(32);
    margin: 0;
  }

  .work-logos {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
    line-height: 1.1;
    text-align: center;
    gap: f.rem(15);

    .companies {
      border-radius: f.rem(6);
      border: f.rem(3) solid var(--cp-dark-red);
      padding: f.rem(20) f.rem(20);
      margin: auto;
    }
    // .companies:hover {
    //     background-color: var(--cp-light-gray);
    // }
  }
}
